# Core Web Framework
fastapi
uvicorn[standard]
python-multipart
aiofiles
python-dotenv

# authentication
asyncpg
slowapi
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]

# LangChain & LangGraph
langchain
langchain-community
langgraph
langchain-google-genai
langchain-groq

# Memory checkpointing
langgraph-checkpoint-postgres 
psycopg[binary,pool]


# Groq (Speech-to-Text)
groq

# RAG Components
pgvector
chromadb
#faiss-cpu              # FAISS CPU version (use faiss-gpu if NVIDIA GPU available)
pypdf

# Utilities
requests
httpx